@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-item {
  @apply relative flex-shrink-0;
}

.carousel-image {
  @apply w-full h-full object-cover;
}

.carousel-overlay {
  @apply absolute inset-0 flex items-center justify-center text-white text-3xl font-semibold bg-black bg-opacity-40;
}

.carousel-button {
  @apply absolute top-1/2 transform -translate-y-1/2 z-10 bg-black text-white rounded-full p-2;
}